# Dependency directories
node_modules/
jspm_packages/

# Environment configuration files
.env
.env.local

# Debug log from npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output directory
dist/

# Temporary files and directories
tmp/
temp/
.DS_Store
*.swp
*.swo
*.sublime*
*.idea/
*.vscode/
*.history/

# Logs
logs/
*.log
